<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="myget-aspnetcore-dev" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <!--<add key="myget-aspnetcore-dev" value="true" />-->
  </disabledPackageSources>
</configuration>