<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="myvas" value="https://www.myget.org/F/myvas/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <!--<add key="myget-aspnetcore-dev" value="true" />-->
  </disabledPackageSources>
</configuration>