# vi /etc/systemd/system/demo.auth.myvas.com.service
# systemctl enable demo.auth.myvas.com.service
# systemctl start demo.auth.myvas.com.service
# systemctl status demo.auth.myvas.com.service
# journalctl -fu demo.auth.myvas.com.service

[Unit]
    Description=demo.auth.myvas.com

    [Service]
    WorkingDirectory=/www/demo.auth.myvas.com
    ExecStart=/usr/bin/dotnet /www/demo.auth.myvas.com/Demo.dll
    Restart=always
    RestartSec=10
#Restart service after 10 seconds if dotnet service crashes
    SyslogIdentifier=dotnet-demo.auth.myvas.com
    User=root
    Environment=ASPNETCORE_ENVIRONMENT=Production
    Environment=ASPNETCORE_URLS=http://*:6605


    [Install]
    WantedBy=multi-user.target