# vi /etc/systemd/system/ruhu-gz-cn.service
# systemctl enable ruhu-gz-cn.service
# systemctl start ruhu-gz-cn.service
# systemctl status ruhu-gz-cn.service
# journalctl -fu ruhu-gz-cn.service

[Unit]
    Description=AspNetCore.WeixinOAuth.Demo on weixinoauth.myvas.com

    [Service]
    WorkingDirectory=/www/weixinoauth-myvas-com
    ExecStart=/usr/bin/dotnet /www/weixinoauth-myvas-com/AspNetCore.WeixinOAuth.Demo.dll
    Restart=always
    RestartSec=10
#Restart service after 10 seconds if dotnet service crashes
    SyslogIdentifier=dotnet-weixinoauth-myvas-com
    User=root
    Environment=ASPNETCORE_ENVIRONMENT=Production

    [Install]
    WantedBy=multi-user.target

