
@{
    ViewData["Title"] = "ShowQrcode";
}

<h2>@ViewData["Title"]</h2>

Pls scan below qrcode to login:
<div id="qrcode-container"></div>
@(Context.Request.Query["redirectUrl"])

@section Scripts {
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-qrcode/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        $('#qrcode-container').qrcode(
            {
                text: "@Html.Raw(Context.Request.Query["redirectUrl"])"
            });
    </script>
}


