@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"]</h2>

<p>Demo for <a href="https://github.com/myvas/AspNetCore.WeixinOAuth">AspNetCore.WeixinOAuth</a></p>

<h3>部署环境</h3>
<p>本程序部署在Debian 8服务器上。</p>
<p><strong>注意：</strong>本程序必须部署公网服务器80端口上，并在相应微信公众号上配置好“网页服务/网页授权获取用户基本信息”才能正常工作。</p>

<h3>一些插件</h3>
<dl>
    <dt><a href="https://github.com/myvas/AspNetCore.QcloudSmsService">AspNetCore.QcloudSmsService</a></dt>
    <dd>腾讯云短信服务：Qcloudsms节下两个参数</dd>
    <dt><a href="https://github.com/myvas/AspNetCore.ViewDivert">AspNetCore.ViewDivert</a></dt>
    <dd>检测微信客户端：在Account/Login中检测客户端，如果是微信客户端则直接使用WeixinOAuth身份验证，否则用标准Identity登录</dd>
</dl>

<h3>测试</h3>
<p>点击<a asp-action="UserInfo">UserInfo</a>触发Challenge。</p>
<p>--- 或 ---</p>
<p>或点击<a asp-action="ShowQrcode" asp-route-redirectUrl="@Url.AbsoluteAction("UserInfo","Home")">UserInfo</a>展示二维码，然后用手机微信扫码进入。</p>
